.galeria{
  display: grid;
  grid-template-rows: 1fr;
  grid-column: 1/-1;
  margin-bottom: 3rem;
  gap: 0 10px;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

.slide-wrapper{
  overflow: hidden;
  grid-column: 1/-1;
}


.slide{
  display: flex;
}

.slide:hover{
  will-change: transform;
}



.slide li{
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8);
  transition: .3s;
}

.slide li.active{
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"]{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.custom-controls{
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.custom-controls li{
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: .3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

